{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-transparent">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2>Salesgo er stengt foreløpig.</h2>
                    <p>
                        Salesgo er foreløpig stengt for registrering, men dette vil endre seg.
                    </p>
                </div>
                <div class="col-md-offset-2 col-md-4">
                    {% if errors %}
                        <div class="row">
                            {% for error in errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.email, null, {'label_attr': {'class': 'sr-only' }}) }}
                        <div class="">
                            {{ form_widget(form.email, {'attr': {'placeholder': 'email', 'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'sr-only' }}) }}
                        <div class="">
                            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'password', 'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'sr-only' }}) }}
                        <div class="">
                            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'repeat password', 'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button type="submit" class="btn btn-block btn-success">Register</button>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false }) }}

                </div>
            </div><!-- .row -->
        </div>
    </div><!-- .jumbotron -->

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4>Fordeler</h4>
            </div>
            <div class="col-md-4">
                <p>
                    Bruk et verktøy som er laget for å gjøre jobben din enklere, og som vil hjelpe deg i å øke lønnsomheten.
                    Taxigo er et sikkert og stabilt hjelpemiddel, og vi er alltid imøtekommende om det er noe du lurer på.
                </p>
            </div>
        </div>
    </div>

{% endblock %}