{% extends 'base.html.twig' %}

{% block body %}
    <h1>Action list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Notes</th>
                <th>Startedat</th>
                <th>Done</th>
                <th>Doneat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for action in actions %}
            <tr>
                <td><a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.id }}</a></td>
                <td>{{ action.notes }}</td>
                <td>{% if action.startedAt %}{{ action.startedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if action.done %}Yes{% else %}No{% endif %}</td>
                <td>{% if action.doneAt %}{{ action.doneAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('action_show', { 'id': action.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('action_edit', { 'id': action.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('action_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
