{% extends 'base.html.twig' %}

{% block body %}
    <h1>Todo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ todo.title }}</td>
            </tr>
            <tr>
                <th>Duedate</th>
                <td>{% if todo.dueDate %}{{ todo.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Done</th>
                <td>{% if todo.done %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Donedate</th>
                <td>{% if todo.doneDate %}{{ todo.doneDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if todo.created %}{{ todo.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if todo.updated %}{{ todo.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('todo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('todo_edit', { 'id': todo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
