{% extends 'base.html.twig' %}

{% block title %}Edit {{ organization.name }}{% endblock %}

{% block body %}

    <section>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="{{ path('organization_index') }}">Organizations</a></li>
            <li class="active">New</li>
        </ol>
    </section>

    <section>
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ flash_message }}
            </div>
        {% endfor %}
        {% if form_errors is defined %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form) }}
            </div>
        {% endif %}
    </section>

    <section>
        {{ form_start(form) }}
        {{ include('organization/partials/new_organization.html.twig') }}
        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false }) }}
    </section>

{% endblock %}

{% block javascripts %}

{% endblock %}
