<div class="form-group">
    {{ form_label(form.address, null, {'label_attr': {'class': 'column'}}) }}
    {{ form_widget(form.address, { 'attr': {'class': 'column'} }) }}
</div>
<div class="form-group">
    {{ form_label(form.zip, null, {'label_attr': {'class': 'column'}}) }}
    {{ form_widget(form.zip, { 'attr': {'class': 'column'} }) }}
</div>
<div class="form-group">
    {{ form_label(form.city, null, {'label_attr': {'class': 'column'}}) }}
    {{ form_widget(form.city, { 'attr': {'class': 'column'} }) }}
</div>
<div class="form-group">
    {{ form_label(form.countryCode, null, {'label_attr': {'class': 'column'}}) }}
    {{ form_widget(form.countryCode, { 'attr': {'class': 'column'} }) }}
</div>
<div class="form-group">
    {{ form_label(form.country, null, {'label_attr': {'class': 'column'}}) }}
    {{ form_widget(form.country, { 'attr': {'class': 'column'} }) }}
</div>
<div class="form-group">
    {{ form_label(form.type, null, {'label_attr': {'class': 'column'}}) }}
    {{ form_widget(form.type, { 'attr': {'class': 'column'} }) }}
</div>