{% extends 'base.html.twig' %}

{% block body %}
    <h1>LeadStatus</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ leadStatus.id }}</td>
            </tr>
            <tr>
                <th>Changedat</th>
                <td>{% if leadStatus.changedAt %}{{ leadStatus.changedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('leadstatus_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('leadstatus_edit', { 'id': leadStatus.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
