{% extends 'base.html.twig' %}

{% block body %}
    <h1>PermitDetail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ permitDetail.id }}</td>
            </tr>
            <tr>
                <th>County</th>
                <td>{{ permitDetail.county }}</td>
            </tr>
            <tr>
                <th>Permittype</th>
                <td>{{ permitDetail.permitType }}</td>
            </tr>
            <tr>
                <th>Permitnumber</th>
                <td>{{ permitDetail.permitNumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('permitdetail_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('permitdetail_edit', { 'id': permitDetail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
